
<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h4>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <script type='text/javascript'>
    $(document).ready(function(){
      $("#job_type").change(function(){
        if ($(this).val() == 'WorkingHoliday' || $(this).val() =='Internship') {
          
          $('#salary').show();
          $('#name').show();
          $('#fee').hide();
        } else {
          $('#name').hide();
          $('#fee').show();
          $('#salary').hide();
          }
        });
    });
   </script>
<br>
<div class="row">
  <div class="big-6 small-12 mid-12 panel columns" id="create">

    <div class="field">
      <%= f.label :company_name %><br>
      <%= f.text_field :company_name, id: "company_name" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, id: "description" %>
    </div>
    <div class="field">
      <%= f.label :address %><br>
      <%= f.text_field :address, id: "special"%>
    </div>
    <div style='width: 100%; height: 25rem;'>
      <div id="map" style='width: 100%; height: 24rem;'></div>
    </div>
    <script type='text/javascript'>
      $("#special").geocomplete({
        map: "#map"
      });
      $('#special').on('blur', function () {
              $(this).val('');  // clear the textbox
      });
    </script>
  </div>


  <div class="large-6 small-12 medium-12 panel columns">
    <div class="field">
      <%= f.label :type %><br>
      
      <%= f.select :type, '<option selected disabled value="">Select Type</option><option value="WorkingHoliday">Working holiday</option><option value="Internship">Internship</option><option value="Volunteering">Volunteering</option><option value="Bootcamp">Bootcamp</option>'.html_safe, id: "job_type"  %>
    </div>
  
    <div class="field" id="name" style="display: none;">
      <%= f.label :job_name %><br>
      <%= f.text_field :job_name, id: "job_name" %>
    </div>

    <div class="row">
      <div class="small-9 medium-9 large-9 columns">
        <div id="salary"><%= f.label :salary %><br>
        </div>
        <div id="fee" style="display: none;"><%= f.label :fee %><br></div>
        <div class="range-slider round" data-slider data-options="display_selector: #job_salary; step: 50; initial: 600; start: 0; end: 2000;">
          <span class="range-slider-handle"></span>
          <span class="range-slider-active-segment"></span>
        </div>
      </div>
      <div class="small-3 medium-3 large-3 columns">
        <br>
        <!-- The display element (Tip: use CSS to perfectly position it) -->
      
        <%= f.number_field :salary, value: 72  %>
      </div>
    </div>


      <br>
    <div class="field">
      <%= f.label :images %><br>
      <img id="img_prev" src="#" alt="your image" />
      <%= f.file_field :images, multiple: true, onchange: "readURL(this);" %>
      
    </div>
    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.date_select :start_date, id: "start_date" %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date, id: "end_date" %>
    </div>
    <div class="actions">
      <button class="small middle alert button" id="enter">
        <h6 class="n4" style="color: white;">
          Create
        </h6>
      </button>
    </div>
     <script type='text/javascript'>
  $(document).ready(function(){
    $('#enter').prop('disabled', true);
$('#company_name, #description, #special, #salary, #job_name, #job_type, #start_date, #end_date').keyup(function() {

var empty1 = false;
$('#company_name, #description, #special, #job_type').each(function() {
if ($(this).val() === '') {
 empty1 = true;
}
});

if (empty1) {
$('#enter').attr('disabled', 'disabled');
} else {
//$('#register').removeAttr('disabled');
     $('#enter').prop("disabled", false);
}
});
});


     </script>
  <% end %>
  </div>
</div>









