<!-- <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="jquery.geocomplete.js"></script> -->
<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, id: "special"%>
  </div>
  <div style='width: 100%; height: 25rem;'>
    <div id="map" style='width: 100%; height: 24rem;'></div>
  </div>
  <script type='text/javascript'>
    $("#special").geocomplete({
      map: "#map"
    });
    $('#special').on('blur', function () {
        if ($(this).val()) {  //check for no. of characters entered
            $(this).val('');  // clear the textbox
        }
    });
  </script>

  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.select :type, "<option>Working holiday</option><option>Internship</option><option>Volunteering</option><option>Bootcamp</option>".html_safe %>
  </div>
  <div class="field">
    <%= f.label :job_name %><br>
    <%= f.text_field :job_name %>
  </div>
  
    
  <div class="row">
    <%= f.label :salary %><br>
    <div class="small-9 medium-10 large-10 columns">
      <div class="range-slider round" data-slider data-options="display_selector: #job_salary; step: 50; initial: 600; start: 500; end: 2000;">
        <span class="range-slider-handle"></span>
        <span class="range-slider-active-segment"></span>
      </div>
    </div>
    <div class="small-3 medium-2 large-2 columns">
      <!-- The display element (Tip: use CSS to perfectly position it) -->
    
      <%= f.number_field :salary, value: 72  %>
    </div>
  </div>

  <div class="field">
    <%= f.label :images %><br>
    <%= f.file_field :images, multiple: true %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

