
<div class="row panel">
  <n3 style="font-size: 40px;">Search</n3>
<div class="row">
  
    <div class="column large-6 medium-6 small-12">
      <div class="listings-search">
        <%= form_tag jobs_path, method: :get do %>
    
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Where do you want to go?", id: "country", autocomplete: "off" %>
        
      </div>
    </div>
    <div class="column large-6 medium-6 small-12">
      <%= submit_tag 'Start your journey here!', class: 'success button' %>
      <% end%>
    </div>
  </div>
</div>


  <div class="row">
    <% @jobs.each do |job| %>
      <div class="column large-6 medium-12 small-12 panel" style="min-height: 250px; max-height: 400px;">
          <div class="left column large-4 medium-4 small-12">
            <%= image_tag job.images.first, style: "width: 120px; height: 120px;" %>
          </div>
          <div class="column large-8 medium-8 small-12">

            <n3 class="left" style="font-size: 20px;">
            <div class="column large-12 medium-12 small-12" style="font-size: 35px;">
              <strong><%= job.type %></strong></div>
            <div class="column large-6 medium-6 small-12" style="font-size: 15px;">
              <%= job.description %></div>
            <div class="right column large-6 medium-6 small-12">
              $<%= job.salary %>
            </div>
            <div class="column large-12 medium-12 small-12">
              <%= job.city %>, <%= job.country %>
            </div>

            <div class="column right large-4 medium-4 small-4">
              <% if current_host || current_admin %>
                <% if job.host_id == current_host.id || current_admin %>
                  <%= link_to 'View', job, class: "small alert button" %>
                <% end %>
              <% end %>
              <% if current_user %>
                <%= link_to 'View', job, class: "small alert button" %><n3>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
    <n4> <%= will_paginate @jobs %> </n4>
  </div>

<br>

<div class="row">
  <div class="column large-6 medium-6 small-12 panel">
    <div style='width: 800px;'>
      <div id="map" style='width: 450px; height: 400px;'></div>
    </div>
  </div>
  <div class="left column large-6 medium-12 small-12 panel">
    <div class="left" id='sidebar_container'></div>
  </div>
<script type='text/javascript'>
  
  function createSidebarLi(json){

    return ("<div class='column panel large-12 medium-12 small-12' style='background: white;'>" + json.infowindow + "</div>");

  };

  function bindLiToMarker($li, marker){
    $li.on('click', function(){
      handler.getMap().setZoom(14);
      marker.setMap(handler.getMap()); //because clusterer removes map property from marker
      marker.panTo();
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
  };

  function createSidebar(json_array){
    _.each(json_array, function(json){
      var $li = $( createSidebarLi(json) );
      $li.appendTo('#sidebar_container');
      bindLiToMarker($li, json.marker);
    });
  };

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var json_array = <%=raw @hash.to_json %>;

    var markers = handler.addMarkers(<%=raw @hash.to_json %>);

    _.each(json_array, function(json, index){
     json.marker = markers[index];
    });

    createSidebar(json_array);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });    
</script>

</div>
