
<div class="row">
<n3 style="font-size: 40px;">Search your job here!</n3>
<div class="row">
    
    <div class="column large-6 medium-6 small-12">
      <div class="listings-search">
        <%= form_tag jobs_path, method: :get do %>
    
          <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Where you want to go?", id: "country", autocomplete: "off" %>
        
      </div>
    </div>
    <div class="column large-6 medium-6 small-12">
      <%= submit_tag 'Start your journey here!', class: 'primary button' %>
      <% end%>
    </div>
  </div>
</div>
<table>


  <div class="row">
    <% @jobs.each do |job| %>
    <div class="column large-6 medium-6 small-12 panel">
        <n3><%= image_tag job.images.first %>
        <%= job.type %>
        
        <%= job.country %>
        <%= job.city %>
        <%= job.job_name %>
        <%= job.salary %>

        <% if current_host || current_admin %>
          <% if job.host_id == current_host.id || current_admin %>
            <%= link_to 'Details', job %>
            <%= link_to 'Edit', edit_job_path(job) %>
            <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
        <% if current_user %>
          <%= link_to 'More details...', job %><n3>
        <% end %>
      </div>
    <% end %>
  </div>

<br>

<n3> <%= will_paginate @jobs %> </n3>

  <div style='width: 800px;'>
   <div id="map" style='width: 500px; height: 400px;'></div>
  </div>
<div id='sidebar_container'></div>

<script type='text/javascript'>
  function createSidebarLi(json){
   return ("<li><a>" + json.infowindow[2] + "</a></li>");
  };

  function bindLiToMarker($li, marker){
    $li.on('click', function(){
      handler.getMap().setZoom(5);
      marker.setMap(handler.getMap()); //because clusterer removes map property from marker
      marker.panTo();
      google.maps.event.trigger(marker.getServiceObject(), 'click');
    })
  };

  function createSidebar(json_array){
    _.each(json_array, function(json){
      var $li = $( createSidebarLi(json) );
      $li.appendTo('#sidebar_container');
      bindLiToMarker($li, json.marker);
    });
  };

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    var json_array = <%=raw @hash.to_json %>;

    var markers = handler.addMarkers(<%=raw @hash.to_json %>);
    // markers = handler.addMarkers(<%=raw @hash.to_json %>);

    _.each(json_array, function(json, index){
     json.marker = markers[index];
    });

    createSidebar(json_array);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });    
</script>

</div>
