

<n3>My Jobs</n3>
<div class="row">

    <% @jobs.each do |job| %>
    <div class="column large-6 medium-6 small-12 panel">
        <n3><%= image_tag job.images.first %>
        <%= job.type %>
        
        <%= job.country %>
        <%= job.city %>
        <%= job.job_name %>
        <%= job.salary %>

        <% if current_host || current_admin %>
          <% if job.host_id == current_host.id || current_admin %>
            <%= link_to 'Details', job %>
            <%= link_to 'Edit', edit_job_path(job) %>
            <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        <% end %>
        <% if current_user %>
          <%= link_to 'More details...', job %><n3>
        <% end %>
      </div>
    <% end %>
</div>
