<div class="row">
	<div class="large-4 small-12 medium-4 column panel" style="background: #bababa;">
		<% if current_host %>
			<div class="column large-12 medium-12 small-12">
				<div class="column large-12 medium-12 small-12">
				<img style="border-radius: 100%;" src="<%= current_host.image.url %>">
				</div>
				<div class="column large-12 medium-12 small-12" >
				<p><n3 class="left" style="color: white;"> <%= current_host.fullname %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= current_host.email %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= current_host.contact %></n3></p>
				</div>
			</div>
	
				<ul class="side-nav left" role="navigation" title="Link List" style="text-align: left; width: 250px;">
				   <li role="menuitem"><n3><%= link_to 'Edit', edit_host_path(@host) %></n3> </li>
				   <li role="menuitem"><n3><%= link_to 'My jobs', my_jobs_path(@host) %></n3></li>
				   <li role="menuitem"><n3><%= link_to 'Back', root_path %></n3></li>
				</ul>
	
		<% end %>
	</div>

