<div class="row">
	<div class="large-4 small-12 medium-4 column panel" style="background: #2d2d2d;">
		<% if current_host %>
			<div class="column large-12 medium-12 small-12">
				<div class="column large-12 medium-12 small-12">
				<img style="border-radius: 100%;" src="<%= current_host.image.url(:profile) %>">
				</div>
				<div class="column large-12 medium-12 small-12" >
				<n3 class="left" style="color: white; text-align: left;"> 
					<%= current_host.fullname %> <br> <%= current_host.email %> <br> <%= current_host.contact %></n3>

				</div>
			</div>
			
				<ul class="side-nav left" role="navigation" title="Link List" style="text-align: left; width: 250px;">
				   <li role="menuitem"><n3><%= link_to 'Edit', edit_host_path(@host), remote: true %></n3> </li>
				   <div id="dot"><li role="menuitem"><n3><%= link_to 'My jobs', my_jobs_path(@host), remote: true %></n3></li></div>
				   <li role="menuitem"><n3><%= link_to 'Back', root_path %></n3></li>
				</ul>
	
		<% end %>
	</div>
	<div class="large-8 small-12 medium-8 column" style="background: transparent;">


		<div id = "div_id">
			<div class="row panel">
			<h1 class="n4" style="font-size: 40px;">About Me</h1>
			<div class="column panel large-12 medium-12 small-12" style="background: white;">
				<h3 class="n4 left" style="font-size: 25px;">Nothing special about me.</h3>
			</div>
		</div>
		</div>
	</div>

</div>




