<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<% if current_user %>
  <% @bookings.each do |booking| %>
    <ul>
      <li>
        <%= booking.job.images[0] %><br>
        <%= booking.job.company_name %><br>
        <%= booking.job.description %><br>
        <%= booking.job.city %>, <%= booking.job.country %><br>
        <%= link_to 'Show', job_path(booking.job_id) %> |
        <%= link_to 'Destroy', user_booking_path(booking.user_id, booking.id), method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Back', user_path(current_user.id) %>
      </li>
    </ul>
  <% end %>
<% end %>

<% if current_host %>
  <% @bookings.each do |booking| %>
    <ul>
      <li>
        <%= booking.user.image %><br>
        <%= booking.user.fullname %><br>
        <%= booking.user.email %><br>
        <%= link_to 'See profile', user_path(booking.user_id, :job_id => booking.job_id) %>
        <%= link_to 'Back', job_path(booking.job_id) %>
      </li>
    </ul>
  <% end %>
<% end %>

