<div class="row">

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @booking.job_id %>
</p>

<p>
  <strong>Acceptance:</strong>
  <%= @booking.acceptance %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
</div>