

<div class="row">
	<div class="large-4 small-12 medium-4 column panel" style="background: #2d2d2d;">
		<% if current_user %>
			<div class="column large-12 medium-12 small-12"  style="min-height: 300px;">
				<div class="column large-12 medium-12 small-12">
				<img style="border-radius: 100%;" src="<%= current_user.image.url %>">
				</div>
				<div class="column large-12 medium-12 small-12" >
				<p><n3 class="left" style="color: white;"> <%= current_user.fullname %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= current_user.email %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= current_user.contact %></n3></p>
				</div>
			</div>
	
				<ul class="side-nav left" role="navigation" title="Link List" style="text-align: left; width: 250px;">
				   <li role="menuitem"><n3><%= link_to 'Edit', edit_user_path(@user) %></n3> </li>
				   <li role="menuitem"><n3><%= link_to 'My applications', user_bookings_path(@user, @booking) %></n3></li>
				   <li role="menuitem"><n3><%= link_to 'Back', root_path %></n3></li>
				</ul>
	
		<% end %>

		<% if current_host %>
			<div>
				<img style="border-radius: 100%;" src="<%= @user.image.url %>">
				<p><n3 class="left" style="color: white;"> <%= @user.fullname %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= @user.email %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= @user.contact %></n3></p>
			</div>
			<div>
				<% if @job.type == "WorkingHoliday" || @job.type == "Internship" %>
					<% if @booking.acceptance == false %>
						<%= link_to "Accept application", new_transaction_path(job_id: params[:job_id], booking_id: @booking.id), class: "alert button" %>
				  <% end %>
				<% end %>
				<%= link_to 'Back', job_bookings_path(@job.id), class: "secondary button" %>
			</div>
		<% end %>
	</div>
	<div class="large-8 small-12 medium-8 columns ">		
		<div class="row panel">
			<h1 class="n4" style="font-size: 40px;">About Me</h1>
			<div class="column panel large-12 medium-12 small-12" style="background: white;">
				<h3 class="n4 left" style="font-size: 25px;">Nothing special about me.</h3>
			</div>
		</div>
	</div>
</div>

