

<div class="row">
	<div class="large-4 small-12 medium-4 column panel" style="background: #bababa;">
		<% if current_user %>
			<div class="column large-12 medium-12 small-12">
				<div class="column large-12 medium-12 small-12">
				<img style="border-radius: 100%;" src="<%= current_user.image.url %>">
				</div>
				<div class="column large-12 medium-12 small-12" >
				<p><n3 class="left" style="color: white;"> <%= current_user.fullname %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= current_user.email %></n3></p>
				<p><n3 class="left" style="color: white;"> <%= current_user.contact %></n3></p>
				</div>
			</div>
	
				<ul class="side-nav left" role="navigation" title="Link List" style="text-align: left; width: 250px;">
				   <li role="menuitem"><n3><%= link_to 'Edit', edit_user_path(@user) %></n3> </li>
				   <li role="menuitem"><n3><%= link_to 'My applications', user_bookings_path(@user, @booking) %></n3></li>
				   <li role="menuitem"><n3><%= link_to 'Back', root_path %></n3></li>
				</ul>
	
		<% end %>

		<% if current_host %>
			<div class="panel">
				<img style="border-radius: 100%;" src="<%= @user.image.url %>">
				<p><n3 class="left"> <%= @user.fullname %></n3></p>
				<p><n3 class="left"> <%= @user.email %></n3></p>
				<p><n3 class="left"> <%= @user.contact %></n3></p>
			</div>
			<div class="panel">
				<% if @booking.acceptance == false %>
					<%= form_for @booking, url: job_booking_path(@job, @booking.id), method: :patch do |x| %>
			      <%= x.submit 'Accept application' %>
			    <% end %>
			  <% end %>
				<%= link_to 'Back', job_bookings_path(@job) %>
			</div>
		<% end %>
	</div>
	<div class="large-8 small-12 medium-8 columns ">
		
		<div class="panel">
			<table>
			  <thead>
			    <tr>
			      <th width="200">Table Header</th>
			      <th>Table Header</th>
			      <th width="150">Table Header</th>
			      <th width="150">Table Header</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="panel">
			otehr info
		</div>
	</div>
</div>

