<p id="notice"><%= notice %></p>

<div class="row">
	<div class="large-3 small-12 medium-4 columns ">
		<% if current_user %>
			<div class="panel">
				<%= image_tag "current_user.image.url", class: "th" %>
				<p>Name:    <%= current_user.fullname %></p>
				<p>Email:   <%= current_user.email %></p>
				<p>Contact: <%= current_user.contact %></p>
			</div>
			<div class="panel">
				<%= link_to 'Edit', edit_user_path(@user) %> |
				<%= link_to 'My applications', user_bookings_path(@user, @booking) %> |
				<%= link_to 'Back', root_path %>
			</div>
		<% end %>

		<% if current_host %>
			<div class="panel">
				<%= image_tag "@user.image", class: "th" %>
				<p>Name:    <%= @user.fullname %></p>
				<p>Email:   <%= @user.email %></p>
				<p>Contact: <%= @user.contact %></p>
			</div>
			<div class="panel">
				<% if @booking.acceptance == false %>
					<%= form_for @booking, url: job_booking_path(@job, @booking.id), method: :patch do |x| %>
			      <%= x.submit 'Accept application' %>
			    <% end %>
			  <% end %>
				<%= link_to 'Back', job_bookings_path(@job) %>
			</div>
		<% end %>
	</div>
	<div class="large-9 small-12 medium-8 columns ">
		
		<div class="panel">
			<table>
			  <thead>
			    <tr>
			      <th width="200">Table Header</th>
			      <th>Table Header</th>
			      <th width="150">Table Header</th>
			      <th width="150">Table Header</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			    <tr>
			      <td>Content Goes Here</td>
			      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
			      <td>Content Goes Here</td>
			      <td>Content Goes Here</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="panel">
			otehr info
		</div>
	</div>
</div>

