
<div class="travork">
	<div class="row">

<div class="column large-12 medium-12 small-12" style="padding-top: 75px;">
<n1>Travel Differently</n1>
</div>
<div class="column large-12 medium-12 small-12" style="padding-bottom: 75px;">
<n2>Define your life differently here.</n2>
</div>
</div>
<div class="row">
	<div class="column large-4 medium-6 small-12">
		<%= text_field_tag 'name', nil, placeholder: "What you want to do?"  %>
	</div>
		<div class="listings-search">
			<%= form_tag jobs_path, method: :get do %>
			<div class="form-group">
				<div class="column large-4 medium-6 small-12">
					<%= text_field_tag :query, params[:query], class: 'form-control', id: 'country', placeholder: "Where you want to go?",  autocomplete: "off" %>
				</div>
			</div>
			<div class="column large-4 small-12">
				<%= submit_tag 'Start your journey here!', class: 'success button n3', style: 'color: white; font-size: 20px;     background-color: #3CC2A7;' %>
			</div>
			<% end %>

		</div>
	</div>
</div>


	
<div class="row" style="max-width: 85%;">
	<div class="row">
	<div class="row">
		<n2 style="color: black; text-align:left;">Travel while working at...</n2>
	</div>
		<% @workholiday.last(3).each do |x| %>
		<div class="left column large-4 medium-4 small-12" style="max-width: 400px; max-height: 400px;">
		<%= x.type %>
		<%= link_to image_tag("http://2ktravelagency.com/wp-content/uploads/2015/11/hot-air-balloon-cappadocia2-600x600.jpg"), x %>
		</div>
		<% end %>
	</div>
	<div class="row">
		<div class="row">
		<n2 style="color: black; text-align:left;">Internship at here...</n2>
	</div>
		<% @internship.last(3).each do |x| %>
		<div class="left column large-4 medium-4 small-12" style="max-width: 400px; max-height: 400px;">
		<%= x.type %>
		<%= link_to image_tag("http://2ktravelagency.com/wp-content/uploads/2015/11/hot-air-balloon-cappadocia2-600x600.jpg"), x %>
		</div>
		<% end %>
	</div>
	<div class="row">
	<div class="row">
		<n2 style="color: black; text-align:left;">Volunteering experience different here...</n2>
	</div>
	<% @volunteer.last(3).each do |x| %>
		<div class="left column large-4 medium-4 small-12" style="max-width: 400px; max-height: 400px;">
		<%= x.type %>
		<%= link_to image_tag("http://2ktravelagency.com/wp-content/uploads/2015/11/hot-air-balloon-cappadocia2-600x600.jpg"), x %>
		</div>
		<% end %>
	</div>
	<div class="row">
	<div class="row">
		<n2 style="color: black; width: 80%;">World class bootcamp here...</n2>
	</div>
	<% @bootcamp.last(3).each do |x| %>
		<div class="left column large-4 medium-4 small-12" style="max-width: 400px; max-height: 400px;">
		<%= x.type %>
		<%= link_to image_tag("http://2ktravelagency.com/wp-content/uploads/2015/11/hot-air-balloon-cappadocia2-600x600.jpg"), x %>
		</div>
		<% end %>
	</div>
</div>
<br>
	



