<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2 class="mbs">New Transaction</h2>
  <%= form_tag transactions_path(job_id: params[:job_id], booking_id: params[:booking_id]) do%>
  	<% if current_user %>
	  	<%= render 'customer_form' unless current_user.has_payment_info? %>
	  <% else %>
	  	<%= render 'customer_form' unless current_host.has_payment_info? %>
	  <% end %>
	  <p>Please enter your payment details:</p>
	  <div id="dropin"></div>
	  <% if current_user %>
	  	<%=submit_tag "Pay $#{@job.salary}", class: "button mt1" %>
	  <% else %>
	  	<%=submit_tag "Pay $#{number_with_precision(@job.salary * 0.05, precision: 2)}", class: "button mt1" %>
	  <% end %>
	<%end%>
</div>

<script type="text/javascript">
	var client_token = "<%= @client_token %>"
</script>