<%# add navigation links to this file %>
<% if current_host or current_user or current_admin %>
	<li style="margin-top: -2px;"> <a href="#" data-dropdown="drop2" >
			<% if current_host %>
			<img style="border-radius: 100%;" src="<%= current_host.image.url(:thumb) %>">
			<n3 style="color: white;">
			Welcome, <%= current_host.fullname %>!</n3> </a>
			<% elsif current_user %> 
			<img style="border-radius: 100%;" src="<%= current_user.image.url(:thumb) %>">
			<n3 style="color: white;">
			Welcome, <%= current_user.fullname %>!</n3> </a>
		<% end %>
			<ul id="drop2" class="f-dropdown content" data-dropdown-content>
				<% if current_user %>
				<li><%= link_to "View jobs", jobs_path %> </li>
	    		<li><%= link_to "My Profile", user_path(current_user.id) %></li>
				<% elsif current_host %>
	    		<% if current_host.verify_status == true %>
	        	<p><%= link_to "Create new job", new_job_path %> </p>
	    		<% end %>
	   	 		<p><%= link_to "View jobs", jobs_path %> </p>
	    		<p><%= link_to "My Profile", host_path(current_host.id) %></p>
			<% end %>
	    </ul>

	</li>

			<% if current_user %>
				<li> <%= link_to "Log out - User", destroy_user_session_path ,method: :delete %> </li>
			<% elsif current_host %>
				<li> <%= link_to "Log out - Host", destroy_host_session_path ,method: :delete %> </li>
			<% elsif current_admin %>
				<%= link_to "Log out - Admin", destroy_admin_session_path ,method: :delete %>
				<% end %>
<% else %>

<div class="transparent">
	<li> <a href="#" data-reveal-id="signup"> Sign Up </a> </li>
		<div id="signup" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
			<div class="column large-4 small-12">
				<a href="/users/sign_up"><button class="small button">Sign Up as User</button></a>
			</div>
			<div class="column large-4 small-12">
				<a href="/hosts/sign_up"><button class="small button">Sign Up as Host</button></a>
			</div>
			<div class="column large-4 small-12">
				<a href="/admins/sign_up"><button class="small button">Sign Up as Admin</button></a>
			</div>
  		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
		</div>

	<li> <%= link_to "Sign in", new_user_session_path %> </li>
	<li> <%= link_to "Login as Host", new_host_session_path %> </li>
</div>
<% end %>

